include includes/_common.pug

doctype html
html
    head
        title Escritório de Advocacia Professor Diógenes da Cunha Lima - Natal/RN
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='styles/style.css')
        link(rel='stylesheet', href='styles/header.css')
    body
        +header('index')