include includes/_common.pug
include includes/_card.pug

doctype html
html
    head
        title Escritório de Advocacia Professor Diógenes da Cunha Lima - Natal/RN
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='styles/index.css')
    body
        +header('index')

        section#inicio
            div.carousel-picture.fade
                img(src="images/fachada.jpg", alt="Fachada do escritório")
            div.carousel-picture.fade
                img(src="images/sala-de-atendimento.jpg", alt="Sala de atendimento do escritório")
            div.carousel-picture.fade
                img(src="images/gabinete.jpg", alt="Gabinete do escritório")

        section#pilares
            .pilar
                img(src="images/icons/hammer.svg", alt="Martelo de tribunal")
                h3 Missão
                p.
                    Assegurar com equilíbrio, a realização do Direito, garantindo,
                    através de profissionais éticos e competentes, a segurança
                    da assistência continuada, contribuindo, como advocacia de
                    excelência, para que a justiça aconteça e prevaleça na sociedade.
            .pilar
                img(src="images/icons/scale.svg", alt="Balança de dois pratos")
                h3 Visão
                p.
                    Ver o escritório como uma Instituição amada e respeitada no
                    Estado. Nossos advogados são selecionados entre os melhores
                    e procuram dar assistência jurídica a nível de excelência.
                    A cada dia um pouco mais.
            .pilar
                img(src="images/icons/court.svg", alt="Fachada do Partenon")
                h3 Valores
                p.
                    São valores do Escritório o sentido e alcance das leis,
                    doutrinas e jurisprudência; tratar o cliente com respeito e
                    amizade, os Juízes e ao Ministério Público como parceiros no
                    sentido de busca da Justiça; Fazer do “Pro Bono” um trabalho
                    agradável e útil.

        section#areas
            h2 Áreas de Atuação
            hr
            .areas-container
                +card("Civil", "civil", "Balança de dois pratos")
                +card("Criminal", "criminal", "Martelo de tribunal")
                +card("Imobiliário", "imobiliario", "Casa com marlo de tribunal à frente")
                +card("Consumidor", "consumidor", "Moeda flutuando sobre uma mão")

                #civil.modal
                    .modal-inner
                        a.close(href="#areas")
                            img(src="images/icons/x-mark-gold.svg", alt="Fechar modal", style="color: black;")
                        h2 Direito Civil
                        p.
                            Direito Civil é o ramo do Direito que engloba o conjunto de normas jurídicas
                            responsáveis por regular os direitos e obrigações de ordem privada em relação as pessoas,
                            seus bens e suas relações.
                #criminal.modal
                    .modal-inner
                        a.close(href="#areas")
                            img(src="images/icons/x-mark-gold.svg", alt="Fechar modal", style="color: black;")
                        h2 Direito Criminal
                        p
                            |Também conhecido como Direito Penal, é o ramo responsável por atribuir penas aos delitos de acordo com as normas originadas no Poder Legislativo.
                            |Tais penas permitem preservar a sociedade ao mesmo tempo que proporcionam o seu desenvolvimento.
                            br
                            br
                            | Nessa área contamos com o advogado Gabriel Lucas Moura de Souza:
                            br
                            br
                            | - Graduação em Direito pela Universidade Federal do Rio Grande do Norte
                            br                          
                            | - Especialista em Direito Processual Penal pela Faculdade Damásio.
                            br
                            | - Professor Universitário de Direito Penal e Direito Processual Penal (Universidade
                            | Potiguar/Laureate)
                            br
                            | - Pesquisador nas temáticas de nulidades, provas, dosimetria da pena e colaboração
                            | premiada.
                            br
                            | - Atuação na advocacia criminal.
                #imobiliario.modal
                    .modal-inner
                        a.close(href="#areas")
                            img(src="images/icons/x-mark-gold.svg", alt="Fechar modal", style="color: black;")
                        h2 Direito Imobiliário
                        p.
                            Direito Imobiliário é o ramo do direito privado responsável por regular as relações jurídicas decorrentes da propriedade de bens imóveis.
                            E envolve, dessa forma, as discussões legais sobre objetos imóveis.
                #consumidor.modal
                    .modal-inner
                        a.close(href="#areas")
                            img(src="images/icons/x-mark-gold.svg", alt="Fechar modal", style="color: black;")
                        h2 Direito do Consumidor
                        p.
                            Direito do Consumidor é um ramo do direito brasileiro responsável pela garantia dos direitos da pessoa,
                            seja ela física ou jurídica, em relação a um determinado bem, serviço ou produto.

        section#professor
            img(src="images/diogenes.jpg", alt="Professor Diógenes")
            .content
                h2 Professor Diógenes da Cunha Lima
                p
                    | Um advogado que estuda e que aprende algo todos os dias.
                    br
                    | Entendendo que todo saber serve à aplicação da Justiça.
                a(href="professor.html") Leia Mais

        section#contato
            h2 Fale conosco
            form(action="")
                input(type="text", placeholder="Nome")
                input(type="text", placeholder="E-mail")
                textarea(placeholder="Mensagem", cols="30", rows="10")
                input(type="submit", value="Enviar")
            .infos
                .card
                    h3 Endereço
                    span Av. Hermes da Fonseca, 957, Tirol, Natal - RN, 59014-555
                .card
                    h3 Contatos
                    span Telefone: (84) 3216-2300
                    span E-mail: diogenes@dcl.adv.br
                .card
                    h3 Horário de Atendimento
                    span Segunda a Sexta
                    span 08:00 às 18:00 horas
                .card
                    h3 Nos siga nas redes sociais
                    img(src="images/icons/facebook.svg", alt="Ícone do Facebook")
                    img(src="images/icons/instagram.svg", alt="Ícone do Instagram")
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6915.51224628771!2d-35.20085893158456!3d-5.794211887775996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b3001ba5232eeb%3A0xc6d2ce6d9f807733!2sEscrit%C3%B3rio%20Advocacia%20Professor%20Di%C3%B3genes%20Cunha%20Lima!5e0!3m2!1spt-BR!2sbr!4v1572312689972!5m2!1spt-BR!2sbr")

        script(src="scripts/carousel.js")