@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #444444;
}

main {
  padding: 10vw;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: #2c2c2c;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'Playfair Display', serif;
  color: #D5B173;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 10vw;
  z-index: 1;
  background-color: #121110;
}

header + * {
  margin-top: 80px;
}

header img.logo {
  width: 30px;
  height: 30px;
}

header nav#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: visible;
  background-color: #121110;
  padding: 30px 10vw;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

header nav#menu:target {
  right: 0;
}

header nav#menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  color: #fff;
  line-height: 2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

header nav#menu ul a.active {
  color: #D5B173;
}

footer {
  background-color: #121110;
  color: #fff;
  padding: 5vw 10vw;
  font-size: .9rem;
}

.texto p {
  text-align: justify;
  line-height: 1.5rem;
}

.texto p + p {
  margin-top: 1rem;
}

.texto .assinatura {
  margin: 1rem 0;
}

.texto .assinatura strong {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #D5B173;
  display: block;
}

.texto .assinatura small {
  text-transform: uppercase;
}

main .carousel .carousel-picture {
  display: none;
  overflow: hidden;
  width: 100vw;
  margin-left: -10vw;
}

main .carousel .carousel-picture img {
  width: 100%;
}

main .carousel .carousel-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #D5B173;
  margin-top: -4.5rem;
}

main .carousel .carousel-label strong {
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  font-weight: 900;
}

main .carousel .carousel-label small {
  text-transform: uppercase;
  margin-left: 1rem;
}
/*# sourceMappingURL=historia.css.map */