@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  background-color: #121110;
  padding: 20vw 10vw;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 10vw;
  z-index: 100;
  background-color: #121110;
}

header + * {
  margin-top: 80px;
}

header img.logo {
  width: 30px;
  height: 30px;
}

header nav#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: visible;
  z-index: 1;
  background-color: #121110;
  padding: 30px 10vw;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

header nav#menu:target {
  right: 0;
}

header nav#menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  color: #fff;
  line-height: 2rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

header nav#menu ul a.active {
  color: #D5B173;
}

section#inicio {
  padding: 0;
}

section#inicio .carousel-picture {
  display: none;
  overflow: hidden;
  height: calc(100vh - 80px);
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

section#inicio .carousel-picture img {
  height: calc(100vh - 80px);
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

section#pilares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#pilares .pilar {
  padding: 0 10vw;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
}

section#pilares .pilar:nth-child(2) {
  margin: 3rem 0;
}

section#pilares .pilar h3 {
  margin-top: 1rem;
}
/*# sourceMappingURL=index.css.map */